discord.py
python-dotenv
redis
wheel
setuptools>=65.5.1
cython==0.29.37
numpy==1.24.3
spacy==3.5.4
thinc==8.1.12
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz